[Unit]
Description=Run MRJKP Accounting backup daily

[Timer]
OnCalendar=*-*-* 03:17:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target

